#home {
	ul {
		margin: 25px;
		display: inline-block;
        a {
            color: #0D3A5C;
        }
        .active {
            a {
                color: #fff;
            }
        }
	}

    .nav-pills {
        li.active {
            a {
                background-color: #4BB487;
            }
        }
        font-size: 50px;

        @media (min-width: 1080px) {
            font-size: 14px;
        }
    }

	#play-form {
        width: 100%;
		margin: 0 auto;

        @media (min-width: 1080px) {
            width: 250px;
        }

		h2 {
            font-size: 60px;
			margin: 0;
            @media (min-width: 1080px) {
                font-size: 31px;
            }
		}

        label {
            font-size: 50px;
            @media (min-width: 1080px) {
                font-size: 14px;
            }
        }

		input {
			text-align: center;
            font-size: 60px;
            height: 100%;
            @media (min-width: 1080px) {
                font-size: 14px;
            }
		}

        .btn-default {
            font-size: 50px;
            color: #fff;
            background-color: #0D3A5C;
            @media (min-width: 1080px) {
                font-size: 14px;
            }
        }

	}

}
