<h2>Players In The Room <br />(Game ID: {{ currentGame.gameId }})</h2>
<div class="user col-md-2" ng-repeat="user in users | orderObjectBy:'order':false:currentGame.status">
    <h2 class="play-order" ng-show="currentGame.status === 'playing'">{{ user.order | ordinal }}<span class="colon">: </span></h2>
	<h2 class="username">{{ user.username }}</h2>
	<ul ng-if="user.groupedCards">
        <div class="card-group" ng-class="{ grouped: group.length > 1 }" ng-repeat="group in user.groupedCards">
			<li class="single-card" ng-repeat="card in group"> {{ card }} </li>
		</div>
	</ul>
</div>
