navbar {

  display: block;
  background: #4BB487;

  .navbar-header {
	  .navbar-brand {
          font-size: 70px;
		  float: right;
          height: 100%;
          margin: 32px;
          @media (min-width: 1080px) {
              height: 100%;
              font-size: 18px;
              padding: 0;
              margin: 15px 0 15px 10px;
          }
	  }
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #A0DAF7;
    }
    &:hover {
      transition: color 0.2s;
    }
    &:focus {
      color: #A0DAF7;
      background: transparent;
    }
  }

    .sidebar-btn {
        font-size: 60px;
        float: left;
        margin: 10px;
        color: #fff;
        background: #0D3A5C;
        &:hover {
            color: #fff;
        }
        @media (min-width: 1080px) {
            font-size: 14px;
            margin: 8px;
        }
    }
    .btn {
        &:focus {
            color: #fff;
        }
    }
}
