<div>
	<section id="home">
		<div class="text-center">
			<ul class="nav nav-pills join-create">
				<li role="presentation" ng-class="{ active: formType === 'create' }" ng-click="setFormType('create')"><a href="#">Create Game</a></li>
				<li role="presentation" ng-class="{ active: formType === 'join' }" ng-click="setFormType('join')"><a href="#">Join Game</a></li>
			</ul>
		</div>

		<div>
			<form id="play-form" name="enterGameForm" ng-submit="enterWaitingRoom(gameForm)">

				<div class="alert alert-danger" ng-show="error">
					<span class="glyphicon glyphicon-exclamation-sign"></span>
					<span class="sr-only">Error:</span>
					{{ error }}
				</div>

				<div class="form-group">
					<label for="game-id">Game ID</label>
					<div ng-if="formType === 'create'">
						<h2>{{ gameForm.gameId }}</h2>
					</div>
					<input id="game-id" name="gameId" ng-if="formType === 'join'" class="form-control" ng-model="gameForm.gameId" /><br />

					<label for="username">Username</label>
					<input id="username" name="username" class="form-control" ng-model="gameForm.username" /><br />
					<button class="btn btn-default" ng-if="formType === 'join'">Join Game</button>
					<button class="btn btn-default" ng-if="formType === 'create'">Create Game</button>
				</div>
			</form>
		</div>
	</section>
</div>
