* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'login/main';

body, html {
  overflow: hidden;
  height:100%;
}

sidebar {
	position: absolute;
	top: 51px;
	bottom: 0;
	left: 0;
	width: 33%;
	overflow-y: scroll;
}

.main-page {
	text-align: center;
	position: absolute;
	top: 51px;
	bottom: 0;
	right: 0;
	overflow-y: scroll;
	width: 67%;
}

.no-sidebar {
	text-align: center;
	.join-create {
		margin-left: auto;
		margin-right: auto;
	}
}

player-list {
	text-align: left;
}

chat-room {
	text-align: left;
}
